{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('users') }}">Users</a></li>
        <li class="breadcrumb-item active">234</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls">

    </div>

    {% if company %}
    <div class="box">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Полное название</th>
                <td>{{ company.name.full }}</td>
            </tr>
            <tr>
                <th>Дата регистрации</th>
                <td>{{ company.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>ИНН</th>
                <td>{{ company.inn }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="card">
            <div class="card-body">

                <h4>Введите УНП</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Добавить компанию</button>
                {{ form_end(form) }}

            </div>
        </div>
    {% endif %}

{% endblock %}