{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Users</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls">
        <a href="{{ path('users.create') }}" class="btn btn-success">Создать компанию</a>
    </div>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.date) }}</div>
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.inn) }}</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Подобрать</button>
                    <a href="{{ path('company') }}" class="btn btn-outline-secondary">Сбросить</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Дата регистрации', 'date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Полное название', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'ИНН', 'inn') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for company in pagination %}
                <tr>
                    <td>{{ company.date|date('Y-m-d') }}</td>
                    <td><a href="{{ path('company.show', {'id': company.id}) }}">{{ company.namefull }}</a></td>
                    <td>{{ company.inn }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}