{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('company') }}">Company</a></li>
        <li class="breadcrumb-item active">{{ company.name.full }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls">
            <a href="" class="btn btn-primary">Edit</a>
            <a href="" class="btn btn-primary">Change Role</a>
    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Наименование организации</th>
                <td>{{ user.name.full }}</td>
            </tr>
            <tr>
                <th>Сокращенное наименование организации</th>
                <td>{{ user.email ? user.email.value : '' }}</td>
            </tr>
            <tr>
                <th>Дата регистрации</th>
                <td>{{ user.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user_role(user.role.name) }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user_status(user.status) }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% if user.networks %}
        <div class="box">
            <table class="table table-bordered mb-0">
                <tbody>
                {% for network in user.networks %}
                    <tr>
                        <th>{{ network.network }}</th>
                        <td>{{ network.identity }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}