{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item active">Профиль</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">Ваш профиль</div>
        <div class="card-body">
            <table class="table table-bordered mb-0">
                <tbody>
                <tr>
                    <th>Email</th>
                    <td>
                        {{ user.email ? user.email.value : '' }}
                        <a href="{{ path('profile.email') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <th>Пароль</th>
                    <td>
                        *******
                        <a href="{{ path('profile.password') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <th>Дата регистрации</th>
                    <td>{{ user.date|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Ваша роль</th>
                    <td>{{ user_role(user.role.name) }}</td>
                </tr>
                <tr>
                    <th>Статус</th>
                    <td>{{ user_status(user.status) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Контактные данные</div>
        <div class="card-body">
            <table class="table table-bordered mb-0">
                <tbody>
                <tr>
                    <th>ФИО</th>
                    <td>
                        {{ user.name.full }}
                        <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <th>Телефон</th>
                    <td>
                        {{ user.name.full }}
                        <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                        <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-success"><span class="fa fa-plus"></span></a>
                    </td>
                </tr>
                {% if user.userinfo %}
                <tr>
                    <th>Должность</th>
                    <td>
                        {{ user.userinfo.position }}
                        <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <th>Факс</th>
                    <td>
                        {{ user.userinfo.fax }}
                        <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <th>Адрес доставки</th>
                    <td>
                        {{ user.userinfo.fax }}
                        <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                        <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-success"><span class="fa fa-plus"></span></a>
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Социальные сети</div>
        <div class="card-body">
            {% if user.networks %}
                <table class="table table-bordered">
                    <tbody>
                    {% for network in user.networks %}
                        <tr>
                            <th>{{ network.network }}</th>
                            <td>{{ network.identity }}</td>
                            <td>
                                <form
                                        action=""
                                        method="post"
                                        onsubmit="return confirm('Are you sure?')"
                                >
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <a href="" class="btn btn-facebook">Добавить Facebook</a>
        </div>
    </div>

{% endblock %}